@font-face {
  font-family: ParkLaneNF;
  src: url(ParkLaneNF.ttf);
}

#title {
	font-family: ParkLaneNF;
	font-size: 4em;
	font-weight: bold;
	color: rgba(250,250,250,1);
	background-color: rgba(100,100,100,0.8);
	text-align: center;
	margin: 0;
	width: 100%;
	padding: 10px;
}

@media only screen and (min-width: 400px) {
	#title {
		font-size: 2em;
	}
}

@media only screen and (min-width: 850px) {
  #title {
    font-size: 3em;
  }
}

@media only screen and (min-width: 1250px) {
  #title {
    font-size: 4em;
  }
}

#container {
	margin: 0px;
	padding: 0px;
}

#cardContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 10px 30px;
	justify-content: center;
	align-items: center;
}
