@font-face {
  font-family: ParkLaneNF;
  src: url(ParkLaneNF.ttf);
}

#title {
	font-family: ParkLaneNF;
	font-size: 4em;
	font-weight: bold;
	color: rgba(250,250,250,1);
	background-color: rgba(100,100,100,0.8);
	text-align: center;
	margin: 0 0 10px 0;
	width: 100%;
}

.loading {
	margin: auto;
	width: 100%;
	font-size: 3em;
	text-align: center;
}

.container {
	position: absolute;
	top: 5em;
	bottom: 20px;
	left: 0px;
	right: 0px;
}

@media only screen and (min-width: 400px) {
	#title {
		font-size: 2em;
	}
	.container {
		top: 3em;
	}
}

@media only screen and (min-width: 850px) {
  #title {
    font-size: 3em;
  }
  .container {
		top: 4em;
	}
}

@media only screen and (min-width: 1250px) {
  #title {
    font-size: 4em;
  }
  .container {
		top: 5em;
	}
}

#cardContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 10px 30px;
	justify-content: center;
	align-items: center;
}
