@font-face {
	font-family: Lemonade Stand D;
	src: url('Lemonade Stand D.otf');
}

.homecard {
	margin: 10px 30px;
	padding: 10px;
	color: #fff;
	background: linear-gradient(86deg, rgba(34,193,195,0.85) 0%, rgba(45,128,253,0.85) 100%);
	width: 250px;
	height: 250px;
	border: solid 2px #fff;
	border-radius: 10px;
	display: flex;
	flex-flow: column;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	font-family: 'Lemonade Stand D';
	font-size: 4em;
}

.homecard:hover {
	background: linear-gradient(86deg, rgba(34,193,195,1) 0%, rgba(45,128,253,1) 100%);	
	cursor: pointer;
}

#cardContainer > a {
	text-decoration: none;
}

@media only screen and (min-width: 400px) {
	.homecard {
		width: 150px;
		height: 150px;
		font-size: 3em;
	}
}

@media only screen and (min-width: 800px) {
	.homecard {
		width: 200px;
		height: 200px;
		font-size: 3.5em;
	}
}

@media only screen and (min-width: 1050px) {
	.homecard {
		width: 250px;
		height: 250px;
		font-size: 4em;
	}
}