@font-face {
	font-family: Lemonade Stand D;
	src: url('Lemonade Stand D.otf');
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, 
						    	rgba(255, 255, 255, 0), 
						    	rgba(255, 255, 255, 0.85),
						    	rgba(255, 255, 255, 0));
}

.wrapper {
	width: 60%;
	height: 100%;
	display: table;
	background: linear-gradient(86deg, rgba(34,193,195,0.95) 0%, rgba(45,128,253,0.95) 100%);
	font-family: 'Lemonade Stand D';
	border-radius: 10px;
	border : 2px solid #fff;
	margin: 10px auto;
	text-align: center;
}

.header, .content, .footer {
  display: table-row;
}

.inner {
  display: table-cell;
  padding: 5px;
}

.content .inner {
  height: 100%;
  position: relative;
}

.scrollable {
  position: absolute;
  left: 0; 
  right: 0;
  top: 0; 
  bottom: 0;
  overflow: auto;
  padding: 5px;
}

.nav-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	margin: 0 10px 0 10px; 
}

.mainTitle {
	font-size: 4em;
	padding: 5px;
}

.nextprev {
	font-size: 2.5em;
	padding: 5px;
	cursor: pointer;
}

.item-title {
	font-size: 2em;
	padding: 5px;
	cursor: pointer;
}

.nextprev:hover, .item-title:hover {
	font-weight: bold;
}
